a{
    color:inherit;
    align-self: center;
}

body{
    background-color: lightgrey;
}



.navbar{
    height: 15vh;
}

#item.dropdown-menu.show{

    text-align: center;
}
.container-flex{
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;

}
@media (max-width: 768px){
    
    .container-flex{
        margin: 0px;
    }

    
}

